.myworkshop-card{
  max-width: 700px;

  &__img{
    height: 200px;
    width:25%;
    @extend .full-img;
  }
  &__img,
  &__caption{
    float: left;
    display: inline-block;
    vertical-align: middle;
  }

  &__caption{
    width: 70%;
    padding-left: 5%;

    .small-text{
      margin-top: 30px;
    }
  }
}
.user-review{
  margin-bottom: 50px;

  &__stars{

    @media (min-width: $screen-sm-min) {
      margin-left: 30px;
    }
    li{
      line-height: 30px;
    }
  }
  &__stars,
  &__header{
    display: inline-block;
    vertical-align: top;

    .category{
      font-weight: $font-weight-semibold;
      font-size: 12px;
      text-transform: uppercase;
   }
  }
  &__subtitle{
    font-size: 10px;
    color: #999999;
    font-weight: $font-weight-regular;
  }
  &__text{
    margin-top: 20px;
  }
}

.abc-card{
  .subtitle{
    font-weight: $font-weight-bold;
  }

  ul{
    margin-top: 30px;
    li{
      margin-bottom: 10px;
    }
  }
}

.teaser-card{
  position: relative;
  background-color: white;

  @media (min-width: $screen-sm-min) {
    min-height: 100vh;
  }

  &--glossary{

    .teaser-card__caption{
      background-color: rgba(160, 209, 202, 0.25) !important;
    }
    .teaser-card__text{
      // max-height: 320px !important;
    }
    .teaser-card__subtitles{
      color: initial !important;
      position: relative !important;
      bottom:0 !important;
      left:0 !important;
    }
    .teaser-card__image-wrapper{
      top:100px !important;
      bottom:100px !important;
      right:100px !important;
      left:100px !important;

      @media (min-width: $screen-md-min) {
        top:100px !important;
        bottom:100px !important;
        right:150px !important;
        left:150px !important;
      }
    }
  }
  &__tags-list{
    margin-bottom: 40px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 60px;
    }
    @media (min-width: $screen-md-min) {
      margin-bottom: 90px;
    }
  }
  &__figure{
    position: relative;
    // min-height: 100vh;
    height: 450px;
    // background-color: white;

    @media (min-width: $screen-sm-min) {
      // min-height: 750px;
      // height: 100vh;
      min-height: 100vh;
      float: left;
      width: 50%;
    }
  }
  &__image-wrapper{
    @extend .abs-center;

  }
  &__image{
    @extend .full-img;
    width: 100%;
    height: 100%;
  }
  &__caption{
    position: relative;
    padding: 30px;

    // margin-top: 15%;

    @media (min-width: $screen-md-min) {
      padding: 100px 90px 0;
      // margin-top: 100px;
    }
    @media (min-width: $screen-sm-min) {
      // height: 100vh;
      min-height: 100vh;
      float:left;
      width: 50%;
    }
  }
  &__title{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;

    @media (min-width: $screen-sm-min) {
      min-height: 100px;
      margin-top: 55px;
      margin-bottom: 90px;
      // max-height: 330px;
      font-size: 36px;
    }
    @media (min-width: $screen-md-min) {
      // max-height: 290px;
    }
  }
  &__subtitles{
    position: relative;
    margin-top: 10px;

    h6{
      font-weight: 600;
      letter-spacing: 1.2px;
      overflow: hidden;
      max-height: 45px;

      @media (min-width: $screen-sm-min) {
         max-height: 45px;
      }
   }
  }
  &__info{
     text-transform: inherit;
    margin: 25px 0;
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;

    @media (min-width: $screen-md-min) {
      margin: 25px 0;
      // margin-top: 0;
      // position: absolute;
      // bottom: 20px;
      // left: 30px;
      // right: 90px;
      max-width: 50%;
      max-height: 55px;
      overflow: hidden;
    }
    @media (min-width: $screen-md-min) {
      left: 90px;
      // bottom: 12%;
      bottom: 60px;
    }
    @media (min-width: $screen-lg-min) {
      bottom: 130px;
    }
  }
  &__copy{
    font-size: 10px;
    opacity: .6;
  }

  &__text{
    font-family: $font-family-secondary;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
      line-height: 36px;
      // max-height: 320px;
      overflow: hidden;
      p{
         font-size: 24px;
         line-height: 36px;
      }
    }
  }
  &__scrolldown{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid $black-color;
    border-radius: 50px;
    margin: 0 auto 15px;
    display: block;
    @extend .transition;

    &:hover{
      transform: translateY(15px);
      text-decoration: none;
      color: $bege-color;
      background-color: $black-color;
    }

    @media (min-width: $screen-sm-min) {
      margin: auto;
      position: absolute;
      left: -17.5px;
      // left: 0;
      // right: 0;
      top: initial;
      bottom: 35px;
    }
  }
}

.tags-list{

  li{
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: $font-weight-semibold;

    &:nth-of-type(n+2){
      margin-left:5px;
    }
  }
}

.product-card{

   &:hover{
      .product-card__hover{
         @media (min-width: $screen-sm-min) {
            opacity: 1;
         }
      }
   }
   &__wrapper{
      position: relative;
   }
   &__hover{
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 3;
      opacity: 0;
      @extend .transition;
      @extend .abs-center;
      background-color: rgba(19, 20, 19, 0.55);
      color: white;
      text-align: center;


      .caption{
         .product-card__title{
            font-size: 16px;
            line-height: 26px;
            max-height: 58px;
          font-weight: 600;
          letter-spacing: .2em;
         }
         padding: 25px;
         -webkit-order: 0;
         -ms-flex-order: 0;
         order: 0;
         -webkit-flex: 0 1 auto;
         -ms-flex: 0 1 auto;
         flex: 0 1 auto;
         -webkit-align-self: center;
         -ms-flex-item-align: center;
         align-self: center;
      }
   }
  &.yes-sale{
   .product-card__price{
      color: #A85566;
      span{
         color: $black-color;
      }
   }
    .product-card__sale{
      display: block;
    }
  }
  &.new-sale{

    .product-card__new{
      display: block;
    }
  }
  &__info{
    overflow: hidden;
    max-height: 85px;
    min-height: 85px;
    margin-bottom: 40px;
    font-family: $font-family-secondary;

    @media (min-width: $screen-sm-min) {
      max-height: 70px;
      min-height: 70px;
    }
  }
  &__new{
    color: $blue-color !important;
  }
  &__new,
  &__sale{
     display: none;
    @extend .abs-center;
    letter-spacing: .2em;
    text-align: center;
    color: $pink-color;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    z-index: 2;
    top: 0;
    bottom: 0;
    font-size: 30px;
    height: 40px;

    @media (min-width: $screen-sm-min) {
      top: 28px;
      bottom: initial;
    }
  }

  &__heart{
    cursor: pointer;
    background: url('/front/img/vetors/heart.svg') no-repeat center /contain;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 4;

    @media (min-width: $screen-sm-min) {
      top: 30px;
    }

    &:hover{
      transform: scale(1.4);
    }
    &:hover,
    &.active{
      background: url('/front/img/vetors/heart-2.svg') no-repeat center /contain;
    }

    &:focus{
      outline:none;
    }
  }

  &--why{
    margin: 0 15px;

    .product-card__img{
      background-color: white;
      height: 370px;

      @media (min-width: $screen-sm-min) {
        height: 470px;
      }
      @media (min-width: $screen-md-min) {
        height: 570px;
      }
    }
  }
  &--press{
    .product-card__caption{
      @media (min-width: $screen-sm-min) {
        width: 55%;
      }
    }
    .product-card__title{
      margin-bottom: 0;
      font-weight: $font-weight-bold;
    }
    .product-card__date{
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 18px;
      font-weight: $font-weight-semibold;
    }
    .product-card__img{
      background-color: white;
      height: 220px;

      @media (min-width: $screen-sm-min) {
        height: 320px;
      }

      @media (min-width: $screen-md-min) {
        height: 420px;
      }

      img{
        max-width: 90%;
        max-height: 90%;
        @extend .abs-center;
      }
    }
  }
  &--journal{
    min-height: 440px;

    @media (min-width: $screen-sm-min) {
      min-height: 590px;
    }
    @media (min-width: $screen-md-min) {
      min-height: 690px;
    }

    .product-card__img{
      height: 170px;
      @extend .transition;

      @media (min-width: $screen-sm-min) {
        height: 320px;
      }
      @media (min-width: $screen-md-min) {
        height: 420px;
      }
    }
    .product-card__date{
      margin-bottom: 20px;
    }
    .product-card__title{
      margin-bottom: 0;
      text-transform: none;
      font-size: 24px!important;
      line-height: 34px!important;
      letter-spacing: normal;
      max-height: 100px;
      min-height: 100px;

      @media (min-width: $screen-sm-min) {
        min-height: 70px;
        max-height: 70px;
      }
    }
  }
  &--workshop{
    min-height: 376px;

    @media (min-width: $screen-sm-min) {
      min-height: 476px;
    }

    @media (min-width: $screen-md-min) {
      min-height: 676px;
    }

    .product-card__img{
      height: 150px;

      @media (min-width: $screen-sm-min) {
        height: 280px;
      }

      @media (min-width: $screen-md-min) {
        height: 420px;
      }
    }
  }
  &--product{
    // min-height: 676px;

    .product-card__img{
      display: block;
      height: 200px;

      @media (min-width: $screen-sm-min) {
        height: 300px;
      }
      @media (min-width: $screen-md-min) {
        height: 400px;
      }
      @media (min-width: $screen-lg-min) {
        height: 450px;
      }
    }
  }

  &__by{
    font-style: italic;
    opacity: .6;
    font-family: $font-family-secondary;
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__img{
    position: relative;
    width: 100%;
    @extend .transition;
    @extend .full-img;
   cursor: pointer;

   &:focus{
      outline: none;
   }
   &:hover{
      opacity: .4;
   }
  }
  &__caption{
    margin-top: 25px;

    .link{
      display: block;
      margin-top: 30px;
    }
    &.landing{
      .small-text{
         max-height: 100% !important;

         @media (min-width: $screen-sm-min) {
            min-height: 220px;
         }
         @media (min-width: $screen-md-min) {
            min-height: 180px;
         }
         @media (min-width: $screen-lg-min) {
            min-height: 140px;
         }
      }
   }

    .small-text{
      overflow: hidden;
      min-height: 66px;
      max-height: 66px;
      font-family: $font-family-secondary;
      p{
         font-size: 16px;
         line-height: 22px;
        margin:0;
      }
    }
  }
  &__price{
    font-weight: $font-weight-bold;
    margin-bottom: 30px;

    span{
      text-decoration: line-through;
      margin-right: 10px;
    }
  }

  &__title{
     letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    max-height: 36px;
    overflow: hidden;

  }
}

.review-card{
  margin-top: 60px;
  margin-bottom: 50px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 90px;
  }
  &__stars{
    .icon{
      font-size: 22px;
      margin-right: 5px;

      &:hover{
        opacity: .5;
      }
      &.active{
        &::before{
          content: '\f27d';
        }
      }
    }
  }
  &__subtitle,
  &__title{
    text-transform: uppercase;
  }
  &__subtitle{
    font-size: 12px;
  }
  &__rating{
    margin-top: 50px;

    @media (min-width: $screen-sm-min) {
      width: 50%;
    }
    @media (min-width: $screen-md-min) {
      width: 40%;
    }
  }

}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;

  .star {
    display:inline-block;
    cursor: pointer;

    /* Idle State of the stars */
    > i {
      font-size:22px; /* Change the size of the stars */
      color: $black-color; /* Color on idle state */
    }
    /* Hover state of the stars */
    &.hover > i {
      opacity: .6;
    }
    /* Selected state of the stars */
    &.selected > i::before {
      opacity: 1;
      content: '\f27d';
    }
  }
}

.success-box{
  position: absolute;
  left: 0;
  font-size: 12px;
  padding-left: 15px;
}

.product-detail{

  &::before{
    content: '';
    background-color: white;
    width: 100%;
    height: 580px;
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;

    @media (min-width: $screen-sm-min) {
      width: calc(50% + 500px);
      height: calc(100% + 165px);
      position: absolute;
      top: -85px;
      bottom: 0;
      left: -500px;
    }
  }

  header{
    margin-bottom: 35px;
    margin-top: 45px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 75px;
    }
  }

  .benefits-list{
     display: block;
     margin-top: 25px;

     &__element{
        *{
           display: block;
        }
     }
 }
   &__benefits{

      *{
         // display: block;
      }

      figure{
         position: relative;
         width: 40px;
         height: 50px;
         margin-bottom: 10px;

         img{
            max-width: 100%;
            max-height: 100%;
            @extend .abs-center;
         }
      }
      figcaption{
         font-weight: 500;
         font-family: $font-family-primary !important;
      }
   }
  &__slideshow{
     position: relative;

     @media (min-width: $screen-sm-min) {
     // margin: 0 0 0 30px;
     }

     @media (min-width: $screen-md-min) {
        width: 450px;
     // margin: 0 0 0 70px;
     }
  }

  &__info{
     @media (min-width: $screen-sm-min) {
      margin: 0 0 0 30px;
     }

     @media (min-width: $screen-md-min) {
      margin: 0 0 0 70px;
     }
   .big-title{
      margin-bottom: 5px;
      font-weight: $font-weight-semibold;
   }
    .subtitle{
      font-size: 14px;
    }
  }
  &__price{
     margin-top: 15px;
    font-size: 32px !important;
    font-weight: $font-weight-regular;
  }
  &__text{
    margin-top: 35px;

    @media (min-width: $screen-sm-min) {
      margin-top: 65px;
    }
  }
  .minusplusnumber{
    margin-bottom: 15px;

    @media (min-width: $screen-md-min) {
      margin-bottom: 0;
    }
  }
  &__text{
     font-weight: $font-weight-semibold;
  }
  &__info-list{
    margin-top: 30px;

    >li{
      *{
        display: inline-block;
      }
      &:nth-of-type(n+2){
        margin-top: 30px;
      }
      .small-text{
        font-weight: $font-weight-semibold;
        font-family: $font-family-secondary;
      }
    }
  }
  &__tags{
    margin-top: 30px;
  }
}
