.page-footer{
   margin-top: 40px;
  border-top: 1px solid #000;
  padding: 20px 0;
  font-size: 15px;

  @media (min-width: $screen-sm-min) {
     margin-top: 60px;
    padding: 60px 0;
  }

  &__credits{
    text-align: center;
    margin-top: 15px;

    @media (min-width: $screen-sm-min) {
      margin-top: 25px;
      margin-top: 0;
      text-align: right;
    }
  }
  &__social{
    text-align: center;
  }
  &__contacts{
     text-align: center;
     margin-bottom:15px;

     @media (min-width: $screen-sm-min) {
        margin-bottom:25px;
        margin-bottom:0;
        text-align: left;
      }
   }
}

.social-list{
   display: flex;

   @media (min-width: $screen-sm-min) {
      display: block;
   }

  li{
    display: inline-flex;
    width: 20%;

   @media (min-width: $screen-sm-min) {
      width: auto;
      vertical-align: top;
      display: inline-block;
   }

    a{
      text-align: center;
      display: block;
      width: 35px;
      line-height: 35px;

      @media (min-width: $screen-md-min) {
        width: 44px;
        line-height: 44px;
      }
      img{
        max-width: 75%;
        max-height: 75%;
      }

      &:focus,
      &:hover{
        opacity: .4;
        text-decoration: none;
      }
    }
  }
}
