/**
 * Font mixins
 *
 * Author: José Osório
 * Copyright 2016
 */

$icons: (
   /* miscelaneous */
   menu            : '\f197',
   user            : '\f207',
   close           : '\f136',
   search          : '\f1c3',
   check           : '\f268',
   send            : '\f194',
   play            : '\f3aa',
   pause            : '\f3a7',
   pdf             : '\f12e',
   upload          : '\f4ca',
   3d              : '\f101',
   attach          : '\f10d',
   download        : '\f220',
   pin             : '\f1ab',
   plus             : '\f278',
   star-outline     : '\f27c',
   star             : '\f27d',
   doc              : '\f222',
   video            : '\f2e0',
   garbage            : '\1F5D1',



   /* arrows */
   arrow-right     : '\f301',
   arrow-left      : '\f2ff',
   arrow-up        : '\f3d7',
   arrow-down      : '\f2fe',
   arrow-back      : '\f300',
   caret-down      : '\f2f1',
   caret-up        : '\f2f7',

   /* social media */
   facebook         : '\f343',
   youtube          : '\f408',
   instagram        : '\f34f',
   linkedin         : '\f3f8',
   twitter          : '\f360',
   pinterest        : '\f3fc',
);


.icon {
  &--left{
    margin-right: 5px;
  }
  &--right{
    margin-left: 5px;
  }
	&::before {
		font-family: $font-family-icons;
		font-style: normal;
	}

	@each $modifier, $code in $icons {
		&--#{$modifier}::before {
			content: $code;
		}
	}
}
