/**
 * Font mixins
 *
 * Author: José Osório
 * Copyright 2016
 */

$icons: (
   /* miscelaneous */
   menu            : '\2471',
   user            : '\f207',
   close           : '\f136',
   search          : '\f1c3',
   check           : '\f268',
   send            : '\f194',
   play            : '\f3aa',
   pause            : '\f3a7',


   /* arrows */
   arrow-right     : '\F054',
   arrow-left      : '\F04D',
   arrow-up        : '\F05D',
   arrow-down      : '\f2fe',
   arrow-back      : '\F045',
   arrow-long-right: '\f301',

   /* social media */
   facebook         : '\f343',
   youtube          : '\f408',
   instagram        : '\f34f',
   linkedin         : '\f3f8',
   twitter          : '\f360',
   pinterest        : '\f3fc',
);


.icon {
  &--left{
    margin-right: 5px;
  }
  &--right{
    margin-left: 5px;
  }
	&::before {
		font-family: $font-family-icons;
		font-style: normal;
	}

	@each $modifier, $code in $icons {
		&--#{$modifier}::before {
			content: $code;
		}
	}
}
