.teaser-list{
   &__element{
      &:nth-of-type(n+2){
         margin-top: 30px;

         @media (min-width: $screen-sm-min) {
            margin-top: 0;
            transform: translateY(-100px);
         }
      }
   }
}

.values-list{
   @media (min-width: $screen-sm-min) {
      margin-top: 100px;
   }

   &__element{
      &:nth-of-type(n+2){
         margin-top: 20px;

         @media (min-width: $screen-sm-min) {
            margin-top: 0;
         }
      }
   }
}

.contacts-list{

   &__element{
      &:nth-of-type(n+2){
         margin-top: 15px;

         @media (min-width: $screen-sm-min) {
            margin-top: 60px;
         }
         @media (min-width: $screen-md-min) {
            margin-top: 0;
         }
      }
   }
}


.services-list{

   &__element{
      cursor: pointer;

      &:hover{
         .service-card__caption{
            color: $pink-color;
         }
      }
      .service-card{
         &__img{
            height: 320px;
            width: 100%;

            @media (min-width: $screen-sm-min) {
               height: 300px;
               width: 80%;
            }

            @media (min-width: $screen-md-min) {
               height: 400px;
            }
            @media (min-width: $screen-lg-min) {
               height: 550px;
            }
         }
         &__caption{
            text-align: center;

            @media (min-width: $screen-sm-min) {
               text-align: left;
            }
         }
      }

      &:nth-of-type(n+2){
         margin-top: 35px;
      }
      &:nth-of-type(2n){

         @media (min-width: $screen-sm-min) {
            margin-top: 150px;
            margin-bottom: 40px;
         }
         @media (min-width: $screen-md-min) {
            margin-top: 250px;
            margin-bottom: 80px;
         }
         .service-card{
            &__img{
               height: 210px;

               @media (min-width: $screen-sm-min) {
                  height: 240px;
                  width: 100%;
               }
               @media (min-width: $screen-md-min) {
                  height: 340px;
                  width: 100%;
               }
               @media (min-width: $screen-lg-min) {
                  height: 420px;
                  width: 100%;
               }
            }
            &__caption{
               text-align: center;

               @media (min-width: $screen-sm-min) {
                  text-align: right;
               }
            }
         }
      }
   }
}
.article-list{
   &__element{

      &:first-of-type{

         @media (min-width: $screen-sm-min) {
            padding-right: 30px;
         }
      }
      &:nth-of-type(n+2){
         margin-top: 40px;

         @media (min-width: $screen-sm-min) {
            padding-left: 30px;
            margin-top: 0;
         }
      }
   }
}
