.user-intro{

  .col-sm-6{
      &:nth-of-type(n+2){
        margin-top: 30px;

        @media (min-width: $screen-sm-min) {
          margin-top: 0;
        }
      }
  }
   &__title{
      margin-bottom: 25px;
   }
   &__content{
      margin-top: 40px;

      @media (min-width: $screen-md-min) {
         max-width: 263px;
      }

      &.register{
         max-width: 100%;
      }
   }
   &__wrap{
      &:nth-of-type(n+2){
         margin-top: 100px;
      }
      .small-text{
         font-size: 12px;
         color: #999999;
         margin-bottom: 25px;

         @media (min-width: $screen-md-min) {
            max-width: 60%;
         }
      }
   }
   &__division{
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin-bottom: 35px;

   }
}
.summary{
  &__date{
    color: grey;
  }
  &__header{
    font-size: 12px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid $black-color;

    .category{
      font-size: 12px;
    }
  }
  &__overview-title{
    border-bottom: 1px solid grey;
    font-family: $font-family-secondary;
    padding-bottom: 15px;
    font-size: 16px;
  }

  &__overview{

  }
  &__list-title{
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 14px;
  }

  &__list{
    font-size: 14px;
    margin-top: 15px;

    li{
      border-bottom: 1px solid grey;
      padding-top: 15px;
      &:nth-of-type(n+2){
        margin-top:25px;
      }
      p{
        margin-left: 5%;
        text-transform: uppercase;
        color: grey;
      }
      .icon{
        margin-right:15px;
        font-size:20px;
      }
      ul{
        padding-left: 5%;
        border-top: 1px solid grey;
        margin-top:15px;
      }
    }
  }
}
