.article-about{
   &__header{
      color: $pink-color;
      margin-bottom: 30px;
   }
}

.article{
   &__title{
      margin-bottom: 30px;
      @media (min-width: $screen-sm-min) {
         margin-bottom: 60px;
      }
   }
   &__img{
      height: 240px;
      @extend .full-img;
      margin-top: 30px;

      @media (min-width: $screen-sm-min) {
         margin-top: 0;
         height: 300px;
      }
      @media (min-width: $screen-md-min) {
         height: 430px;
      }
      @media (min-width: $screen-lg-min) {
         height: 560px;
      }
   }
}
