.cart{
  &__item{

  }
  &__btns{
    margin-top: 40px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
    .btn{
      display: block;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
    }
    .btn:last-child{
      margin-top: 15px;

      @media (min-width: $screen-sm-min) {
        margin-top: 0;
      }
    }
  }

  &__delete{
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    @extend .transition;
    &:hover{
      opacity: .4;
    }
  }

  &__item-img{
    @extend .full-img;
    width: 160px;
    height: 130px;
  }
  &__item-caption{
    margin-top: 15px;
    font-size: 16px;
    .ref{
      color: grey;
      text-transform: uppercase;
    }
  }
  &__footer{
    margin-top: 15px;
    text-align: right;
  }

  &__total{
    padding: 15px;
    background-color: $rose-color;
    margin-bottom: 15px;
    span{
      text-transform: uppercase;
      color: white;
      font-weight: $font-weight-bold;
    }
    .col-sm-4{
      text-align: left;
    }
  }
}
.minusplusnumber{
  background-color: $grey-color;
  height: 44px;
  input,
  span{
    float: left;
    line-height: 36px;
  }
}
