
.cta-wrapper{
   border: 2px solid $brown-color;
   padding: 30px;

   @media (min-width: $screen-sm-min) {
      padding: 40px;
   }

   &:hover{
      cursor: pointer;

      .cta__link{
         color: $pink-color;
         text-decoration: underline;
      }
   }
}
.cta{
   margin-top: 30px;

  &__header{
     margin-bottom: 30px;
     text-align: center;
 }
  &__caption{
     text-align: center;

     @media (min-width: $screen-sm-min) {
        margin-bottom: 30px;
     }
  }
   &__link-wrapper{

   }

   &__link{
      text-align: center;

      @media (min-width: $screen-md-min) {
         margin-top: -90px;
      }

      a{
         background-color: white;
         span{
            display: block;
         }
      }
   }

}
