.table{

   &--vouchers{
   > thead{
      margin-bottom: 80px;
      >tr{
         border-bottom: none;

         >th{
             font-size: 14px;
            text-transform: uppercase;
            border-bottom: none;
         }
      }
   }
   > tbody{
      border-bottom: 1px solid black;
      >tr{
         >th,
         >td{
            // border-bottom: none;
            line-height: 90px;
         }
      }
   }
   }

   .state{
      &--valid{
         color: #009900;
      }
      &--expired{
         color: #ff0000;
         font-style: italic;
      }
   }
}
