.cart-widget{
  border-bottom: 1px solid $black-color;
  margin-bottom: 40px;

  &__step{
    text-align: center;
    padding-bottom: 25px;
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
    }

    h4{
      font-weight: $font-weight-semibold;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
    }

    &.active{
      display: block;
      
      &::before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: $rose-color;
        border: 1px solid black;
        display: block;
        @extend .abs-center;
        bottom: -5px;
        top: auto;
      }
    }
  }
}
.shipping{
  margin-top: 22px;
  border-top: 1px solid black;
  padding: 20px 0;
  &__title{
    font-size: 14px;
    font-weight: $font-weight-bold;
 }
}
.vat{
  padding: 20px 0;
  border-top: 1px solid black;
  &__title{
    font-weight: $font-weight-bold;
    font-size: 14px;
    text-transform: uppercase;
  }
}
.vat,
.shipping{
  .col-sm-8{
//    text-align: right;
  }
}
.shipping-list{

  li{
    font-size: 12px;
    line-height: 30px;
    font-weight: $font-weight-regular;

    input{
      margin-right: 15px;
    }
    span{
      color: grey;
    }
  }
}

.checkout-info{
  &__info{
    margin-top: 30px;
    margin-bottom: 30px;

    p{
      line-height: 26px;
    }
    .small-text{
      margin-bottom: 15px;
    }
    .link{
      display: block;
      margin-top: 25px;
    }
    .col-sm-4:nth-of-type(n+2){
      margin-top: 0;

      @media (min-width: $screen-sm-min) {
        margin-top: 30px;
      }
    }
  }
}
