
/**
 * Colors
 */
$colors: (
    'black'             : #0a0a0a,
    'grey'             : #bbbaba,
    'brown'             : #a48242,
    'bege'             : #e3d9c6,
    'pink'             : #e24486,
    'light-pink'        : #fedee3,
    'white'             : #fff,
);

/**
 * Color applications
 */
 $black-color                 : map-get($colors, 'black');
 $white-color                 : map-get($colors, 'white');
 $bege-color                  : map-get($colors, 'bege');
 $brown-color                  : map-get($colors, 'brown');
 $light-pink-color            : map-get($colors, 'light-pink');
 $pink-color                  : map-get($colors, 'pink');
 $grey-color                : map-get($colors, 'grey');

// Typography
$font-family-icons: "material-design-iconic-font";
$font-family-primary: 'Montserrat Alternates', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-extrabold: 800;

// Body
$body-bg: #fff;

// Navbar
$navbar-default-bg: #fff;


// Panels
$panel-default-heading-bg: #fff;
